@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust width */
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5e7eb; /* Light gray background */
}

/* Thumb (Gradient Color) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #22d3ee, #8b5cf6, #ec4899);
  border-radius: 10px; /* Rounded corners */
  transition: background 0.3s ease-in-out; /* Smooth transition */
}

/* Thumb Hover Effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #06b6d4, #7c3aed, #db2777);
}
  
/* Custom styles for input range thumb */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: yellow;
  border: 0.35rem solid black;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: yellow;
  border: 0.35rem solid black;
  border-radius: 50%;
  cursor: pointer;
}